<h1>Add new pin</h1>

<%= simple_form_for @pin do |f| %>
  <%= f.input :photo, hint: "Please paste a url with the HTTP", label: "Photo URL" %>
  <%= f.input :url, label: "Link to website (URL)" %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
